project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
target/scala-2.11/resource_managed/
target/scala-2.11/src_managed/
.idea/sbt.xml
.idea/libraries
target/
/target
target
*/target
target/*
out/
data/
.idea
